# **Project Name**   Airbnb Bookings Analysis

##### **Project Type**    - EDA/Regression/Classification/Unsupervised
##### **Contribution**    - Team
##### **Team Member 1 -** Sandesh Salunke
##### **Team Member 2 -** Irfan Momin
##### **Team Member 3 -** Sushil Ghodvinde
##### **Team Member 4 -** Rushikesh Pingle

# **Project Summary -**

Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more.

# **GitHub Link -**

https://github.com/Sandy1386/Sandesh-Salunke.git

# **Problem Statement**

**

1) Which hosts are having heighest number of appartments ?

2) Which are the top 10 neighbourhood which are having maximum number of appartments for airbnb in the respective neighbourhood ?

3) What are the neighbourhood in each group which are having maximum prices in thier rspective neighbourhood_group ?

4) How neighborhood is realted with reviews ?

5) What can we learn from predictions? (ex: locations, prices, reviews, etc)

6) What is the distribution of the room type and its distribution over the location ?

7) How does the Room_type is distributed over Neighbourhood_Group are the ratios of respective room_types more or less same over each neighbourhood_group ?

8) How the price column is distributed over room_type and are there any Surprising items in price column ?

9) Which are the top 5 hosts that have obatained heighest no. of reviews ?

10) What is the average preferred price by customers according to the neighbourhood_group for each category of Room_type?

# **Define Your Business Objective?**

# We believe that Airbnb can be more than a marketplace that merely connects guests to Hosts. There goal are to provide the ultimate service for guests, anticipating their needs and going above and beyond—just like a good Host.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Import Libraries
import pandas as pd # import pandas opration
import numpy as np  # import numpy
from numpy  import mean



import seaborn as sns
from skimage.io import imread

import matplotlib.pyplot as plt # import matplotlib
sns.set()
%matplotlib inline

import statistics
from collections import Counter
from wordcloud import WordCloud, ImageColorGenerator
sns.set_theme(style="ticks", color_codes=True)

In [ ]:
# Load Dataset

file_path ="/content/Airbnb NYC 2019 (2).csv"
df_air = pd.read_csv(file_path)

### Dataset First View

In [ ]:
# Dataset First Look
df_air = pd.read_csv(file_path)
df_air.head(10)

In [ ]:
df_air.isna().sum()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
# we have to check the data roe and colums
df_air.shape

### Dataset Information

In [ ]:
# Dataset Info
### Below are the information of data file####
df_air.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
# Below entry is use to check duplicate entries.

df_air.duplicated()

In [ ]:
###  We can use another method for duplicated count##
df_air.duplicated().sum()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df_air.isnull().sum()

In [ ]:
# To check the missing value in name
df_air[df_air['name'].isnull()]

In [ ]:
# To check the missing host_id in name
df_air[df_air['host_name'].isnull()]

In [ ]:
# Visualizing the missing values
missing = df_air.isnull().sum()
plt.figure(figsize=(15,8))
missing.plot.bar()

# What did you know about your dataset?

The above data is having 48895 rows and 16 coloumn. The data is having a lot of null an showing 0 duplicate values.

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
# here we had check all columns
df_air.columns

In [ ]:
# Dataset Describe
# here we had check all Describe
df_air.describe()

### Variables Description

Answer Here

In [ ]:
df_air[df_air['host_name']=='John']

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
##
df_air['host_id'].nunique()

In [ ]:
df_air['host_name'].nunique()

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.
# let analysis the data by using the chart
df_air.describe()

### What all manipulations have you done and insights you found?

In [ ]:
percentage_of_data_having_availbility_0 = round(len(df_air[df_air['availability_365']==0] ['availability_365'])/len(df_air['availability_365'])*100,2)
print(f'The Percentage of data having availability as 0 is {percentage_of_data_having_availbility_0}')

  So we can clearly notice that availability column is having minimum valuse as well as 25th percentile is 0. So that seem awkward beacuse having availability days 0 for 36% of data is bit shocking, If you have a business of providing  sheltersfor AirBnb your availablity is 0 days that is extreme case and extreme case is obviously shocking when it come 36% of data is having extreme case. But its not practicaly to excactly detect which apartment are having realy availability 0 days, so we will not aalter this column as if we try to alter we can end up manipulating appartment which are really mostly busu(i.e 0 no. days availability)

we can also clearly see that minimum price is 0, which is surprising as price 0 does'nt make sense to do business

## **Let check out the last review wise count of where of where availability 365 is 0**

In [ ]:
df_air[df_air['availability_365']==0].groupby(['last_review']).size().sort_values(ascending=False).head(15)

## Lets fill these data with appropriate price value(By filling the price with median price for each room type)

In [ ]:
df_air.loc[ (df_air.room_type=='Entire home/apt') & (df_air.price==0),'price']=df_air.loc[(df_air.room_type=='Entire home/apt') & (df_air.price!=0),'price'].median()
df_air.loc[ (df_air.room_type=='Private room') & (df_air.price==0),'price']=df_air.loc[(df_air.room_type=='Private room') & (df_air.price!=0),'price'].median()
df_air.loc[ (df_air.room_type=='Shared room') & (df_air.price==0),'price']=df_air.loc[(df_air.room_type=='Shared room') & (df_air.price!=0),'price'].median()

In [ ]:
df_air.describe()

**NOTE: We can notic that we have succesfully updated the price column where we have values as 0,we succesfully  updated the value with respective price value**

In [ ]:
df_air.fillna({'reviews_per_month':0},inplace=True)

# ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

In [ ]:
df_air.head()

**Observations:**
•	Total 16 columns are present in the dataset.
•	total observations are 48895.

In [ ]:
 df_air.info()

In [ ]:
#name column
df_air.name

In [ ]:
df_air[df_air['name'].isnull()].head()

**Observation:**
1.	This columns is having names describing the property which is host is trying to give on rent,so the nature of this names is short and consise and this is required as this can draw an attention of customer.
2.	The question arises that how to fill the missing values in this columns.we will explore further dataset and try to find out better optiions to fill the missing values.
3.	This Feature can be important in model building like Recommender systems.
4.	Of course there is no point in removing these cells although they are limited in numbers.

In [ ]:
  df_air.room_type

**Observations**
1.	room_type column is not having any null values,and also we can try to use this values in place of NAN values in name column this can solve our purpose and we can atlest put front what is the type of room!
2.	yes, we will replace the nan values with the values which are in room_type column.

In [ ]:
#This code snippit will replce the nan values.
#fillna() method will do the job...
df_air.name.fillna(df_air.room_type, inplace=True)
#check the changes.
df_air.isnull().sum()

**Observations:**
1.	We have replaced the nan values with corresponding room_type values.
2.	This should solve our purpose.

In [ ]:
  #list of words.
  name_list = list(df_air.name.values)
  words = []
  for i in name_list:
    words+=i.split()
  #let's see top 50 used words .
  _top_50_words=Counter(words).most_common()
  _top_50_words=_top_50_words[0:50]
  #dataFrame for top 50 words.
  top_50_words = pd.DataFrame(_top_50_words,columns = ['words','frequency'])
  # visualization
  plt.figure(figsize=(20,5))
  ax_1= sns.barplot(x='words',y='frequency',data = top_50_words)
  ax_1.set_title('top 50 words')
  ax_1.set_ylabel('frequency of words')
  ax_1.set_xlabel('Words')
  ax_1.set_xticklabels(ax_1.get_xticklabels(), rotation=60)

**Observations:**

1) there are top 50 words use in data fram

In [ ]:
neigh_unique_values = df_air['neighbourhood'].value_counts()
neigh_unique_values

In [ ]:
#.most_common() Return a list of the n most common elements and their counts from the most common to the least.
top_50_=Counter( df_air['neighbourhood']).most_common()
top_50_=top_50_[0:50]
top_50_[:20]

[('Williamsburg', 3920),
 ('Bedford-Stuyvesant', 3714),
 ('Harlem', 2658),
 ('Bushwick', 2465),
 ('Upper West Side', 1971),
 ("Hell's Kitchen", 1958),
 ('East Village', 1853),
 ('Upper East Side', 1798),
 ('Crown Heights', 1564),
 ('Midtown', 1545),
 ('East Harlem', 1117),
 ('Greenpoint', 1115),
 ('Chelsea', 1113),
 ('Lower East Side', 911),
 ('Astoria', 900),
 ('Washington Heights', 899),
 ('West Village', 768),
 ('Financial District', 744),
 ('Flatbush', 621),
 ('Clinton Hill', 572)]

#count_plot
plt.figure(figsize=(20,5))
ax_4 = sns.barplot(x='neighbourhood',y='count',data = pd.DataFrame(top_50_,columns=['neighbourhood','count'][:20]))
ax_4.set_title('Count of Neighbourhood')
ax_4.set_ylabel('Frequency')
ax_4.set_xlabel('Neighbourhood')
ax_4.set_xticklabels(ax_4.get_xticklabels(), rotation=80);
plt.show()

**Observations:**
1.	The above plot shows us some of the top Neighbours towns we can say.
2.	People like to stay at these towns more offent.

In [ ]:
df_air['host_name'].nunique()

**Observations:**
1.	host_name this column is defining the name of host(owner).
2.	There are 11452 unique hosts/owners we can use this featue directly in model building just by encoding it.response encoding will be usefull for this feature.
3.	we can take nan value as one data point for model building.

In [ ]:
df_air['neighbourhood_group']

In [ ]:
df_air['neighbourhood_group'].unique()

#count_plot
plt.figure(figsize=(10,5))
ax_3 = sns.countplot(x='neighbourhood_group',data = df_air)
ax_3.set_title('Count of neighbourhood_group')
ax_3.set_ylabel('frequency')
ax_3.set_xlabel('neighbourhood_group')  
plt.show()

**Observations:**
1.	Brooklyn and Manhattan have the highest hotel/room bookings.

In [ ]:
# Chart - 1 visualization code
neigh_unique_values = df_air['neighbourhood'].value_counts()
neigh_unique_values

**Observations:**
1.	There are 221 unique neighbor

In [ ]:
df_air[['latitude','longitude']]

**Observation:**
1.	we can see the exact locations from this columns.

**1) Which hosts are having heighest number of appartments ?**

In [ ]:
## Which Host are have heighest numer of appartment
### In this i will demonstrate that why we need to go   with host_id rather then host_name

df_air['host_name'].value_counts()

In [ ]:
df_air['host_id'].value_counts()

  From this we can see that host name michael its appearing 417 time in the host_name column, so this might imply that michael is having heighest number of room,but from the host_id column its showing heighest appearance of any host_id  is 327, so this clearly implies that there can be multiple may have same name thats why we are we are getting diffrent heighest apperance in host_name as campared to host_id.

  Lets check which host_name is actually having heighest number of apperments

In [ ]:
df_air[df_air['host_id']==219517861]['host_name'].unique()

In [ ]:
## So sonder (NYC) is having maximum number of rooms for the guest, for Airbnb he mignt be very important person.

df_sonder= df_air[df_air['host_name']=='Sonder (NYC)']
df_sonder[['host_name','neighbourhood_group','neighbourhood','latitude','longitude']].head(6)

Sonder(NYC) is having multiple appermen in same building in diffrent diffrent neighbourdhood

 **2)Which are the top 10 neighbourdhood which are having maximum number of appertment for Airbnb?**

In [ ]:
df_air['neighbourhood'].value_counts().head(10)

In [ ]:
# plotting top neighbourhood which are having maximum number of appartments for airbnb in the respective neighbourhood.
pd.value_counts(df_air['neighbourhood'])[:10].plot.bar()

In [ ]:
df_air['neighbourhood_group'].value_counts()

In [ ]:
pd.value_counts(df_air['neighbourhood_group']).plot.bar()

 **3) What are the neighbourhood in each group which are having maximum price in thier respective neighbourhood_group**

In [ ]:
#Top 3 neighbourhood in thier respective neighbourhood group which are having maximum prices.

df_Manhattan=df_air[df_air['neighbourhood_group']=='Manhattan']
df_Brooklyn=df_air[df_air['neighbourhood_group']=='Brooklyn']
df_Queens=df_air[df_air['neighbourhood_group']=='Queens']
df_Bronx=df_air[df_air['neighbourhood_group']=='Bronx']
df_Staten=df_air[df_air['neighbourhood_group']=='Staten Island']

# top 3  neighbourhood in Manhattan which are having maximum prices
print('Top 3 neighbourhood in manhattan which are having maximum price')
df_Manhattan.groupby(['neighbourhood'])['price'].max().sort_values(ascending=False).reset_index().head(3)

In [ ]:
# top 3  neighbourhood in Manhattan which are having maximum prices
print('Top 3 neighbourhood in manhattan which are having maximum price')
df_Brooklyn.groupby(['neighbourhood'])['price'].max().sort_values(ascending=False).reset_index().head(3)

In [ ]:
# top 3  neighbourhood in Manhattan which are having maximum prices
print('Top 3 neighbourhood in manhattan which are having maximum price')
df_Queens.groupby(['neighbourhood'])['price'].max().sort_values(ascending=False).reset_index().head(3)

In [ ]:
# top 3  neighbourhood in Manhattan which are having maximum prices
print('Top 3 neighbourhood in manhattan which are having maximum price')
df_Bronx.groupby(['neighbourhood'])['price'].max().sort_values(ascending=False).reset_index().head(3)

In [ ]:
# top 3  neighbourhood in Manhattan which are having maximum prices
print('Top 3 neighbourhood in manhattan which are having maximum price')
df_Staten.groupby(['neighbourhood'])['price'].max().sort_values(ascending=False).reset_index().head(3)

 **4) How neidhbourhood is realed with reviews?**

In [ ]:
##Top 5 Neighbourhood is having heighest review per month
df_air.groupby(['neighbourhood'])['reviews_per_month'].max().sort_values(ascending=False).reset_index().head(5)

**Top 5 Neighbourhood is having heighest number of views**

In [ ]:
df_air.groupby(['neighbourhood'])['number_of_reviews'].sum().sort_values(ascending=False).reset_index().head(5)

In [ ]:
df_air[df_air['name'].isnull()].head()

**Observation:**
1.	This columns is having names describing the property which is host is trying to give on rent,so the nature of this names is short and consise and this is required as this can draw an attention of customer.
2.	The question arises that how to fill the missing values in this columns.we will explore further dataset and try to find out better optiions to fill the missing values.
3.	This Feature can be important in model building like Recommender systems.
4.	Of course there is no point in removing these cells although they are limited in numbers.

 **5) What can we learn from predictions?**

In [ ]:
#simple scatterplot:

plt.figure(figsize=(10,6))
ax_5 = sns.scatterplot(df_air.longitude,df_air.latitude,hue=df_air.neighbourhood_group)
ax_5.set_title('Density of rooms')
ax_5.set_ylabel('latitude')
ax_5.set_xlabel('longitude')
plt.show()

**Observations:**

As we see neighbourhood group location

In [ ]:
# Column_no_6 room_type:
df_air[['room_type']].nunique()

#count_plot'
plt.figure(figsize=(10,5))
sns_6 = sns.countplot(x='room_type',data = df_air)
sns_6.set_title('frequency_plot')
sns_6.set_ylabel('frequency')
sns_6.set_xlabel('room_type')

plt.show()

**Observations**
1.	There are three types of rooms
2.	Namely:
1.Private room
2.Entire home/apt room_type
3.Shared room.
3.People mostly prefered to take whole apartment on rent followed by Private room. 4. very few people prefered to have shared rooms.
We will try to catogorise the 'price'like cheep,affordable and expensive and then analyse the 'price' for 'room_type' as per it.

In [ ]:
plt.figure(figsize=(15,8))
sns.scatterplot(x=df_air['longitude'],y=df_air['latitude'], hue=df_air['room_type'])

 **6) What is the distribution of the room type and its distribution over the location ?**

In [ ]:
plt.figure(figsize=(8,5))
df_air['room_type'].value_counts().plot(kind='bar',color=['r','b','y'])

**Observation**

So we can notice the following 


1.   That maximum number of room are enter home/apartment and private room there are only few shared rooms.
2.   So mostly host prefer to give entire home/apartment and private room rather than share rooms

 **7) How dose the room type is distributed over neighbourhood group are the ratios of respective room type more or less same over each neighbourhood group?**

In [ ]:
  plt.figure(figsize=(10,5))
  N=5 #number of bars in each category
  ind= np.arange(3)
  width=0.3

  # storing the values of all values count by the room type for specific neighbourhood group

bronx_values=df_Bronx['room_type'].value_counts().values
brooklyn_values=df_Brooklyn['room_type'].value_counts().values
manhattan_values=df_Manhattan['room_type'].value_counts().values
queen_values=df_Queens['room_type'].value_counts().values
staten_values=df_Staten['room_type'].value_counts().values
# plotting the values
plt.bar(ind,bronx_values,0.2,label='Bronx')
plt.bar(ind+0.1,brooklyn_values,0.2,label='Brooklyn')
plt.bar(ind+0.2,manhattan_values,0.2,label='Manhattan')
plt.bar(ind+0.3,queen_values,0.2,label='Queens')
plt.bar(ind+0.4,staten_values,0.2,label='Staten Island')
plt.xlabel('Room type')
plt.ylabel('Neighbourhood group')
plt.title('Distribution of Room type over the different Neighbourhood Group')
plt.xticks(ind + width / 2, ('Entire Room', 'Private', 'Shared'))
plt.legend(loc='best')
plt.show()

In [ ]:
#It seem more or less same ratio in every neighbouurhood

 **8) How the price column is distributed over room_type and are there any surprising iteam in price column?**

In [ ]:
# From the previous expoloration we get to know that price coloumn is having many value as 0 as it doesn't make the sense.
#   So will try to get rid of those instances for analysis of price column.
df_price = df_air[df_air['price']!=0].copy()

sns.set_theme(style='whitegrid')
sns.boxplot(y='room_type',x='price',hue='room_type',palette='Set3',linewidth=1.5,fliersize=1.5,data=df_price)

**Observations**

We can notice that there are many outliers for price in each of the room type category, so lets just why there is so high price or what else we can conclude for host have highest price for the rooms

In [ ]:
# let check our the who is having highest price of all. 
# and we will check its   rating, minimum night,availability_365 and last reviews in order jude.

df_air[df_air['price']==df_air['price'].max()][['host_name','reviews_per_month','last_review','availability_365','price','neighbourhood_group']]

**Observations**

clearly if i would have working in Airbnb i would have suggested the following


1.   Kathrine and Erin have price so high and having no availability then what  is the benifit of keeping too high price.
2.   The last review is also 2-3 years back.Which is also bad.
3.  The review may be low as there may be very few people who is staying in kathrine, Erin and jelena apartment so might have less reviews
per month
4.  I would have suggested to keep moderate(average) price so that more people would visit and stay in her appartment , it would also
increase her reviews per month

In [ ]:
df_air[['price']].describe()

In [ ]:
#function to catogory the types of rooms.
def price_catagory(price):
  if price<=80:
    return 'cheep'
  elif price>=80 and price<=500:
    return 'affordable'
  else:
    return 'Expensive'

plt.figure(figsize=(10,5))
ax_7 = sns.countplot(x=df_air['price'].apply(price_catagory))
ax_7.set_title('Count Plot')
ax_7.set_xlabel('Catogories of rooms')
ax_7.set_ylabel("Count")
plt.show()

**Observations**
1.	There are three types of rooms
2.	Namely:
   1.Private room
   2.Entire home/apt room_type
   3.Shared room.
3.People mostly prefered to take whole apartment on rent followed by Private room. 4. very few people prefered to have shared rooms.
We will try to catogorise the 'price'like cheep,affordable and expensive and then analyse the 'price' for 'room_type' as per it.

In [ ]:
df_air[['price']].describe()

In [ ]:
# Function to catogory the type of rooms.
def price_catagory(price):
  if price<=80:
          return "cheep"
  elif price>=80 and price<=500:
          return 'affordable'
  else:
          return 'Expensive'

plt.figure(figsize=(10,5))
ax_7 = sns.countplot(x=df_air['price'].apply(price_catagory))
ax_7.set_title('Rate Of Room')
ax_7.set_xlabel('catogories of rooms')
ax_7.set_ylabel('count')
plt.show()

**Observations**


1.   We have considered to devide the whole price range into three catogories
2. cheep(price range below or equal to 80) ***B.Affordable(forprice range 80 to 500)***
3. Expensive(for price more then 500$)so its look like people having more intrest in having "affordable" rooms/appartments rathre then having cheep and expensive rooms .

 **9) Which are the top 5 host that have obatained heighest no.of review?**

In [ ]:
host_highest_df = df_air.groupby(['host_id','host_name'],as_index=False)['number_of_reviews'].sum().sort_values(['number_of_reviews'],ascending=False)
host_highest_df

**10) What is the average preferred price by customers according to the neighbourhood group for each category of room type ?**

In [ ]:
#applying groupby over neighbourhood group and room type
# That applying meanof price and unstacking for clear visualization

avg_price_df = df_air.groupby(['neighbourhood_group','room_type'])['price'].mean().unstack()
avg_price_df

In [ ]:
avg_price_df.plot.bar(figsize=(15,8),ylabel='Average Price calculation')

**Observations**

**As we can see that manhattan is most costly and bronx is cheap for each room type**

**But I think we can make it more useful for buissness implimentation if we do some analysis on successfull hosts
according to the heighest no of reviews so that we can suggest this price to our host for good buisnes.**

**11) Case Study**

In [ ]:
df_air[['minimum_nights']].value_counts()

In [ ]:
df_air[['minimum_nights']].describe()

In [ ]:
ax = sns.distplot(df_air.minimum_nights)
plt.title('Minimum no. of nights distribution')
plt.show()


**Observations** 
              
1.	Average booking is around 7 nights.
2.	minimum booking is for 1 night.
3.	max booking is for more then a year or we can say for few years.

In [ ]:
from scipy.stats import boxcox
# power transform
data_box_cox_transform = boxcox(df_air.minimum_nights)
#lambda=0 it means log transform by defination of box-cox transform.

data_box_cox_transform

In [ ]:
from time import thread_time
from matplotlib import text
from pyparsing.helpers import string 
sns.set_theme();  np.random.seed(0)
plt.figure(figsize=(10,5))
ax = sns.displot(data_box_cox_transform)
plt.title ('minmum no.of nights distribution')

text={0.5,1.0,'minimum no.of night distribution'}

**Observations:**
1.	it's very clear that the data is right skwed.

In [ ]:
from nltk.draw.util import Text
log_transfrom = np.log(df_air['minimum_nights'])

ax = sns.distplot(log_transfrom)
plt.title('Minimum no.of nights distribution')
Text={0.5, 1.0, 'Minimum no.of nights distribution'}

**Observations**
1.	This plots shows that majority of room booking is one for 1 to 4 days.
2.	Box-Cox transformed plot strictly shows that the majority of booking lies between 0 to 3 days.we have set the lambda parameter not equal to zero so it by defination of bax-cox transform selected the best value of lambda.

In [ ]:

df_air[['number_of_reviews']].value_counts()

In [ ]:
df_air[['number_of_reviews']].describe()

In [ ]:
plt.figure(figsize=(10,5))
ax = sns.distplot(x=df_air["number_of_reviews"])
plt.title('number_of_reviews')

In [ ]:
#the distribution tells it has positive skew
# also the distribution doesn't deviate much form normal distribution.
# skewness and kurtosis

print('Skewness: %f' % df_air['price'].skew())
print('kurtosis: %f' % df_air['price'].kurt())

**Observations**

1. look the skew and kurtosis come out very large.Since the skewness has value >1 it is highly skewed.
2. Also kurtosis look high as well which indicates presence of good amount of outliers,We will look later into that when we handle outliers!!

In [ ]:
df_air[['availability_365']].value_counts()

In [ ]:
ax= sns.scatterplot(data=df_air,x='availability_365',y='price')
plt.title("Scatterplot_availability_365")

text={0.5, 1.0,'Scatterplot_availability_365'}

**Observation**

1.   From above plot we can see that most of the available rooms are in the prose range of  0 to 2000
2.   Very few are available for price above 2000$, this is quite oblivious that are very few peoples who prefer to have expensive rooms.

In [ ]:
#price vs minimum_nights

var='minimum_nights'
data = pd.concat([df_air['price'],df_air[var]],axis=1)
data.plot.scatter(x=var,y='price',ylim=(0,12000))
plt.title("Price Vs Minimum_Nights")

**Observations**

Look many data point are clustured on 0 price range, few have min night for stay but price is 0. look like anomaly in price.

In [ ]:
price_df = pd.DataFrame(df_air['price'].apply(price_catagory))
price_df.head()

In [ ]:
plt.style.use('fivethirtyeight')

price_500 = df_air[df_air.price<700]
plt.figure(figsize=(10,6))
plt.title("Price For Each Neighbourhood_Group")
sns.boxplot(y ='price',x ='neighbourhood_group',data=price_500)
plt.show()

**observations:**


1.   We can see that manhattan is the most expensive destination immedialty followed by brooklyn.
2.   Queens, staten island and bronx, are having price rang less as  compaired to other two.

In [ ]:
# grouping median price with neighbourhood_group
neigh_group_price_group = df_air.groupby(['neighbourhood_group']).agg({'price':'median'}).reset_index()
neigh_group_price_group

In [ ]:

plt.figure(figsize=(15,5))
ax_12 =sns.barplot(x= 'neighbourhood_group', y = 'price', data = neigh_group_price_group)
ax_12.set_title('Median_price vs  Neighbourhood_group')
ax_12.set_xlabel('neighbourhood_group')
ax_12.set_ylabel('median_price')
plt.show()

**Observations:**

In this chart, we have done median price Vs neighbourhood group

In [ ]:
df_air.boxplot(column=['price'])
plt.show()

**Observations**

With help of this chart we can see the presence of many outliers in price. definitely we'll remove those patience!

In [ ]:
# Chart - 5 visualization code.
top_10_hosts=df_air['host_name'].value_counts()[:10]
top_10_hosts #top 10 hosts on the basis of no of listings in entire NYC

In [ ]:
top_10_hosts.plot(kind='bar',color="r")
plt.xlabel('Top10_host')
plt.ylabel('Total_NYC_listings')
plt.title('Top 10 hosts on the basis of no of listings in entire NYC')

**Observations**

1.This chart is good to show the top 10 hosts on the basis of no of listings in entire NYC

In [ ]:
#Chart Visualization Code.

corrmat = df_air.corr()
f, ax = plt.subplots(figsize=(10,8))
sns.heatmap(corrmat, vmax= .8, square=True);

Heatmap shows the correlation between diffrent feature

We an see that the corelation amoung the host_id to review per month and avilability 360 and also there are correlation in the min_night to no.off listing count and avilability 360. the price also show the sum correlation with avilability 360 and host_listing_count.

We get the overall correlaion between the different features that can effect the listing. so we know that correlation that will help to analysis the future.

In [ ]:
plt.rcParams['figure.figsize']=(8,5)
ax =sns.countplot(y='room_type',hue='neighbourhood_group',data=df_air,palette='bright')

total = len(df_air['room_type'])
for p in ax.patches:
    percentage = '{:.1f}%' .format(100 * p.get_width()/total)
    x = p.get_x() + p.get_width() + 0.02
    y = p.get_y() + p.get_height() /2
    ax.annotate(percentage,(x,y))

plt.title('count of each room  type in entire NYC')
plt.xlabel('Rooms')
plt.xticks(rotation=90)
plt.ylabel('Room counts')
plt.show()

**Observations**

Manhattan has more listed properties with Entire home/apt around 27% of total listed properties followed by Brooklyn with around 19.6%.
Private rooms are more in Brooklyn as in 20.7% of the total listed properties followed by Manhattan with 16.3% of them. While 6.9% of private rooms are from Queens.
Very few of the total listed have shared rooms listed on Airbnb where there's negligible or almost very rare shared rooms in Staten Island and Bronx.
We can infer that Brooklyn,Queens,Bronx has more private room types while Manhattan which has the highest no of listings in entire NYC has more Entire home/apt room types.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.



Airbnb started with a simple idea: create an opportunity for travelers to experience life as a local in new and exciting destinations, without the hassle of hotels.
Simple ideas often breed complex businesses, and Airbnb has now grown into a worldwide phenomenon. They facilitate rentals of millions of homes across the globe each year. This business success came about for a myriad of reasons — strong ideation, a growing customer base, and increased demand for travel. But Airbnb would not be successful without a powerful marketing strategy underpinning their operations.
In this post we’ll dive into Airbnb’s marketing mix, the strategies that made them a successful brand, and how marketers can use these strategies to improve their own brand promotion operations

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ? 
Explain Briefly.

Airbnb’s product offerings differ between easy, affordable vacation rentals for its customers and an earning opportunity for its hosts.
Renters are where Airbnb makes most of its income. As such, they maintain a high-quality mobile app and internet presence where these customers can easily make rental reservations.

Hosts are Airbnb’s life-blood. Without this market they would be unable to rent out locations. The company offers hosts impressive incentives, making Airbnb hosting an easy opportunity to add a consistent stream of income.

**Price**
<!-- The original pricing strategy which made Airbnb a success was the company’s ability to undercut local hotels with affordable, comfortable rental locations. -->
There is still an element of that market-based pricing at play. But now the company employs a more value-based pricing strategy that relies on the perceived and comparative value of bookings nearby to set prices.

**Place**
<!--  -->
One of the greatest advantages Airbnb has over other rental management companies is its breadth of locations worldwide.
With more than 4 million Airbnb hosts worldwide, you’re likely to find quality accommodations almost anywhere you travel.

**Promotion**

Airbnb has to promote to both travelers and guests in order to keep its rental system operating correctly. Marketing segmentation is a huge factor in Airbnb’s promotional strategy.
Airbnb effectively promotes its service to travelers through a variety of traditional and digital advertisements along with word-of-mouth and referral marketing tactics.
For hosts, Airbnb shares helpful content to help them make the most out of their Airbnb listings, along with traditional marketing campaigns like their “Made Possible by Hosts” campaign.

# **Conclusion**

# In this simple yet power full way we had done the EDA on Airbnb dataset. certainly this is not the end  rather this this the start we can say as per business requirement changes we need to find the insights in that direction and justify the business problems. There can be n-number of questions and n-number of dimension to explore the dataset and find the insight from them, this there is no limit unless the business constrain is solved.